header {
    border-top: 4px solid #3683BA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 157, 255, 0.5)), to(rgba(46, 157, 255, 0.22))), url(../img/industry.jpg);
    background-image: linear-gradient(180deg, rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url(../img/industry.jpg);
    background-position: 0% 0%, 50% 70%;
    background-size: auto, cover;
    }